{block content}

    <h1>{_messages.homepage.h1}</h1>
    <p>{_messages.homepage.helloWorld}</p>
    <p class="lead">Konec roku 2017 se nenávratně blíží a David Fish vydal výhled na leden 2018. Vzhledem k tomu, že většina z firem každoročně zvyšuje dividendu ve stejnou dobu, můžeme s velkou pravděpodobností předpovědět, že se to bude opakovat. Pojďme se tedy spolu na to podívat.</p>
{/block}

{block scripts}
{include parent}

{/block}


{block head}

{/block}
