#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1;dbname=denik-ig'
	user: denik-ig
	password: tukan
	options:
		lazy: yes


services:
	usersRepo: App\DAL\UsersRepo
	settingsRepo: App\DAL\SettingsRepo
	stocksRepo: App\DAL\StocksRepo
	userManager:
	    class: App\Model\UserManager
	    inject: on
	formFactory: App\Forms\FormFactory
	signInFormFactory: App\Forms\SignInFormFactory
	signInUpFactory: App\Forms\SignUpFormFactory
	stockEditFactory: App\AdminModule\Presenters\forms\StockFormFactory
	alphaVantage: App\Model\AlphaVantage
	dbUpdaterModel:
	    class: App\Model\DbUpdaterModel(%appDir%)
	    inject: on
	stocksModel:
	    class: App\Model\StocksModel
	    inject: on
	cacheManagModel: App\Model\CacheManagModel(%tempDir%)
	router: App\RouterFactory::createRouter

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension

translation:
	default: cs
	fallback: [cs_CZ, cs]
