{block content}

    <h1>Service</h1>
    <p>{$data}</p>
    <p>{$dbname}</p>
    <p>{$tempDir}</p>

    <p style="white-space: pre">
        <a n:href="Service:refreshCache">Obnovit cache</a>
        <a n:href="Service:upgradeDb">Aktualizovat databázi</a>
    </p>
{/block}

{block scripts}
    {include parent}

{/block}


{block head}

{/block}
