{block content}

    <h1>Service</h1>
    <p>{$data}</p>
    <p>{$dbname}</p>
    <p>{$tempDir}</p>
    <p>
        <a n:href="Service:refreshCache">Obnovit cache</a>
    </p>
{/block}

{block scripts}
    {include parent}

{/block}


{block head}

{/block}
