homepage:
	helloWorld: "Ahoj světe!"
	h1: "Investiční gramotnost - administrace"
stocks:
    code: "Kód"
    name: "Akcie"
    price: "Cena"
    updated: "Aktualizováno"
    DeleteQuestion: "Opravdu si přejete odstranit tuto akcii?"