ig:
    Stocks: "Akcie"
    Save: "Uložit"
    Cancel: "Storno"
    Delete: "Odstranit"
    Refresh: "Aktualizovat"
    OK: "OK"
    AppName: "IG - Deník"
menu:
    Administration: "Administrace"
    Private: "Soukromé"
    Evidence: "Evidence"
homepage:
	helloWorld: "Ahoj světe!"
	h1: "Investiční gramotnost - deník"
sign:
    Username: "Uživatelské jméno"
    Password: "Heslo"
    SignIn: "Přihlásit"
    SignOut: "Odhlásit"
    KeepSignIn: "Zapamatovat přihlášení"
    requiredUsername: "Zadejte uživatelské jméno"
    requiredPassword: "Zadejte své heslo"
    errorUsernameOrPassword: "Chybné uživatelské jméno nebo heslo"
    infoSignOut: "Byli jste odhlášeni"
    infoSignAnother: "Přihlaste se k jinému účtu"