ig:
    Stocks: "Akcie"
    StockName: "Název akcie"
    Save: "Uložit"
    Cancel: "Storno"
    Delete: "Odstranit"
    Refresh: "Aktualizovat"
    OK: "OK"
    AppName: "IG - Deník"
    Amount: "Množství"
    AmountPieces: "Počet kusů"
    Price: "Cena"
    StockCode: "Kód akcie"
    Created: "Vytvořeno"
    PriceAll: "Cena celkem"
    PriceNow: "Aktuální cena"
    PriceAllNow: "Cena celkem teď"
    PricePurchase: "Nákupní cena"
    PriceMarket: "Tržní cena"
    pcs: ks
    piece: kus
    PricePerPiece: "Cena za kus"
    ValueMustNumber: "Hodnota musí být číslo"
    Profit: "Zisk"
    Yes: "Ano"
    No: "Ne"
    Manual: "Ručně"
menu:
    Administration: "Administrace"
    Private: "Soukromé"
    Evidence: "Evidence"
homepage:
	helloWorld: "Ahoj světe!"
	h1: "Investiční gramotnost - deník"
sign:
    Username: "Uživatelské jméno"
    Password: "Heslo"
    SignIn: "Přihlásit"
    SignOut: "Odhlásit"
    KeepSignIn: "Zapamatovat přihlášení"
    requiredUsername: "Zadejte uživatelské jméno"
    requiredPassword: "Zadejte své heslo"
    errorUsernameOrPassword: "Chybné uživatelské jméno nebo heslo"
    infoSignOut: "Byli jste odhlášeni"
    infoSignAnother: "Přihlaste se k jinému účtu"
error:
    stockCodeNotFound: "Akcie s tímto kódem nebyla nalezena."
    stockNoDeleteIsUsed: "Tuto akcii nelze odstranit, protože je již použita (např. v uživatelském deníku)."